body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fae900
}

h1 {
    text-align: center;
    text-decoration: underline; 
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
.menu {
    display: none;
    position: absolute;
    background-color: #ffe23a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    z-index: 1000;
}
.botão {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;

}
.menu-button:hover {
    background-color: #0056b3;
}
.popup {
    position: relative;
    display: inline-block;
}
.imagem {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}


/*    box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.1); */